extends layout

//- mixin for tables creates 12 lines per table zebra lines
mixin tableData(dataType)
    .row(style="border-bottom:1px solid #eaeaea")
        .col-xs-8.col-sm-8.col-md-8.col-lg-8
            div
                strong=dataType
        .col-xs-4.col-sm-4.col-md-4.col-lg-4
            div
                strong Number of times
    -var n=0
    while n < config.numLinesInTable
        if n % 2 < 1
            -var oddEven=oddColor;
        if n % 2 > 0
            -var oddEven=evenColor;
        .row(id="#{dataType+ n++}" style="border-bottom:1px solid #eaeaea;background-color:#{oddEven}")
            .col-xs-9.col-sm-9.col-md-9.col-lg-9
                span.flag
                span(class=dataType)
            .col-xs-3.col-sm-3.col-md-3.col-lg-3
                span.total

block content
    -var colors=config.colors.chart_colors;
    -var oddColor=config.colors.oddColor;
    -var evenColor=config.colors.evenColor;
    -var oddEven=oddColor;
    section.content-header
        h1 NU-Honeypot Data
        small Data collected between:
        b#dateDataMin
        small &nbsp; to &nbsp;
        b#dateDataMax
    section.content
        .row
            .col-md-6
                .box.box-primary
                    .box-header.with-border
                        h3.box-title Origins
                        .box-tools.pull-right
                            button.btn.btn-box-tool(data-widget="collapse")
                                i.fa.fa-minus
                    .box-body
                        #map(style="height:290px;")
            .col-md-6#countryList
                .box.box-primary
                    .box-header.with-border
                        h3.box-title Most Common Countries
                        .box-tools.pull-right
                            button.btn.btn-box-tool(data-widget="collapse")
                                i.fa.fa-minus
                    .box-body
                       .chart
                           .box-body(style="height:auto")
                               .chart
                                   +tableData('Country')



        .row
            .col-md-6
                .box.box-primary
                    .box-header.with-border
                        h3.box-title Protocols Total
                        .box-tools.pull-right
                            button.btn.btn-box-tool(data-widget="collapse")
                                i.fa.fa-minus
                    .box-body
                        .chart
                            canvas#pieChart1(style="height:auto")
                            div(style="background-color:#{colors[0]};padding:5px;float:left")
                                span Pop3:&nbsp;
                                strong#pop3Total
                            div(style="background-color:#{colors[1]};padding:5px;float:left")
                                span Telnet:&nbsp;
                                strong#telnetTotal
            .col-md-6
                .box.box-primary
                    .box-header.with-border
                        h3.box-title Protocols in the past week
                        .box-tools.pull-right
                            button.btn.btn-box-tool(data-widget="collapse")
                                i.fa.fa-minus
                    .box-body
                        .chart
                            canvas#areaChart1(style="height:auto")
                            div(style="background-color:#{colors[0]};padding:5px;float:left")
                                span Pop3:&nbsp;
                                strong#pop3WeekTotal
                            div(style="background-color:#{colors[1]};padding:5px;float:left")
                                span Telnet:&nbsp;
                                strong#telnetWeekTotal

            .col-md-6
                .box.box-primary
                    .box-header.with-border
                        h3.box-title Operating Systems
                        .box-tools.pull-right
                            button.btn.btn-box-tool(data-widget="collapse")
                                i.fa.fa-minus
                    .box-body
                        .chart
                            canvas#pieChart2(style="height:auto")

                            div(style="background-color:#{colors[1]};padding:5px;float:left")
                                span Linux:&nbsp;
                                strong#LinuxTotal
                            div(style="background-color:#{colors[2]};padding:5px;float:left")
                                span Mac OS X:&nbsp;
                                strong#MacOSXTotal
                            div(style="background-color:#{colors[3]};padding:5px;float:left")
                                span Windows:&nbsp;
                                strong#WindowsTotal
                            div(style="background-color:#{colors[0]};padding:5px;float:left")
                                span Other:&nbsp;
                                strong#otherTotal
            .col-md-6
                .box.box-primary
                    .box-header.with-border
                        h3.box-title OSs in the past week
                        .box-tools.pull-right
                            button.btn.btn-box-tool(data-widget="collapse")
                                i.fa.fa-minus
                    .box-body
                        .chart
                            canvas#areaChart2(style="height:auto")
                            div(style="background-color:#{colors[1]};padding:5px;float:left")
                                span Linux:&nbsp;
                                strong#linuxWeekTotal
                            div(style="background-color:#{colors[2]};padding:5px;float:left")
                                span Mac OS X:&nbsp;
                                strong#macOSXWeekTotal
                            div(style="background-color:#{colors[3]};padding:5px;float:left")
                                span Windows:&nbsp;
                                strong#windowsWeekTotal
                            div(style="background-color:#{colors[0]};padding:5px;float:left")
                                span Other:&nbsp;
                                strong#otherWeekTotal
            .col-md-6
                .box.box-primary
                    .box-header.with-border
                        h3.box-title Most common usernames used
                        .small (total login attemps:
                            strong#totalLogins
                            span )
                        .box-tools.pull-right
                            button.btn.btn-box-tool(data-widget="collapse")
                               i.fa.fa-minus
                    .box-body(style="height:auto")
                        .chart
                            +tableData('Username')
            .col-md-6
                .box.box-primary
                    .box-header.with-border
                        h3.box-title Most common command line scripts used
                        .box-tools.pull-right
                            button.btn.btn-box-tool(data-widget="collapse")
                                i.fa.fa-minus
                    .box-body(style="height:auto")
                        .chart
                            +tableData('Command')

            .col-md-6
                .box.box-primary
                    .box-header.with-border
                        h3.box-title Most common passwords used
                        .small (total login attemps:
                            strong#totalLoginsData
                            span )
                        .box-tools.pull-right
                            button.btn.btn-box-tool(data-widget="collapse")
                                i.fa.fa-minus
                    .box-body(style="height:auto")
                        .chart
                            +tableData('Password')