doctype html
html
	head
		title=title
		meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(rel="stylesheet", href="../../bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		link(rel="stylesheet", href="../../dist/css/AdminLTE.min.css")
		//AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load.
		link(rel="stylesheet", href="../../dist/css/skins/_all-skins.min.css")
		link(rel="stylesheet", href="../../dist/css/nucleon.css")
		<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
		script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
		<![endif]-->

	body.hold-transition.skin-blue.sidebar-mini
		.wrapper
			aside.main-sidebar
				section.sidebar
					.user-panel
						img.img-circle(src="../../dist/img/nuHoneyPot.png",alt="User Image")
			.content-wrapper
				.row
					.col-md-6
						div(style="margin:50px; text-align:center")
							div.center-block
								h1.text-center.login-title nu-HoneyPot
									div
										form(class='form-signin', action='/login', method='POST')
											br
											input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
											br
											input(type='password', name='password' class='form-control', placeholder='Password', required)
											br
											button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
											span.clearfix
									#message
									if message
										h1.text-center.error-message #{message}
			script(src="/plugins/jQuery/jQuery-2.1.4.min.js")
			script(src="/bootstrap/js/bootstrap.min.js")
			script(src="/dist/js/adminLit.min.js")

