doctype html
html
    head
        title=title
        meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="../../bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(rel="stylesheet", href="../../dist/css/AdminLTE.min.css")
        //AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load.
        link(rel="stylesheet", href="../../dist/css/skins/_all-skins.min.css")
        link(rel="stylesheet", href="../../dist/css/flags.css")
        link(rel="stylesheet", href="../../dist/css/nucleon.css")
        <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
        script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
        <![endif]-->
        script(src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js')
        link(rel='stylesheet', href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css')

    body.hold-transition.skin-blue.sidebar-mini
        .wrapper
            header.main-header
                a.logo
                    span.logo-mini
                        strong nu
                    span.logo-lg
                        strong nuHoneyPot
                nav.navbar.navbar-static-top(role="navigation")
                    a.sidebar-toggle(href="#" data-toggle="offcanvas" role="button")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .navbar-custom-menu
                        ul.nav.navbar-nav
                            li
                                a(href='' id="updateData" , class='text-center new-account') Update Data Now
                            li
                                a(href='/signout', class='text-center new-account') Sign Out
                            li
                                a(href="#" data-toggle="control-sidebar")
                                    i.fa.fa-gears
            aside.main-sidebar
                section.sidebar
                    .user-panel
                        img.img-circle(src="../../dist/img/nuHoneyPot.png",alt="User Image")
            .content-wrapper
                block content
        script(src="/plugins/jQuery/jQuery-2.1.4.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
        script(src="/plugins/chartjs/Chart.min.js")
        script(src="/dist/js/adminLit.min.js")

        script(src='/javascripts/countryCodes.js')

        script(src='/javascripts/nuUpdateMiscData.js')
        script(src='/javascripts/nuUpdateDataTables.js')
        script(src='/javascripts/nuUpdatePieData.js')
        script(src='/javascripts/nuUpdateAreaData.js')
        script(src='/javascripts/nuUpdateHeatMap.js')

